#page-container{
  width:760px;
  margin: auto;
    
}

#page-container2{
  width:100%;
  margin: auto;
    
}

#left-side{
  margin-right: 280px;
}

#right-side{
  width:280px;
  float: right;
}

#title{
  height:35px;
  background:gray
}

#back{
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
} 
body{
    background: url(image/formback.png);
}
#formfont{
font-family: impact;
  color:white ;
  text-align:center ;
  font-size:200%;}