@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
#page-container{
  position:relative;
}
nav{
  width:100%;
  font-family:  sans-serif;
  height:60px;
  font-size:18px;
  position: fixed;
  vertical-align: middle;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1; 
  border-style: solid;
  border-width: 1px;
}
header{
  width:100%;
  font-family:  sans-serif;
  background-color:#f9c81e;
  background-image: url("image/11.jpg");
  height:800px;
  color:white;
  text-align:center;
  vertical-align: middle;
  line-height: 700px;
  font-size:82px;ã€€
}

#sunIntro{
  width: 100%;
  height: 800px;
  word-break:break-all;
  font-family:  sans-serif;
  background-color:white;
  text-align:center;
  font-size:26px; 
}
#moonIntro{
  width: 100%;
  height: 800px;
  word-break:break-all;
  font-family:  sans-serif;
  background-color:white;
  text-align:center;
  font-size:26px; 
}
#season{
  width: 100%;
  height: 800px;
  word-break:break-all;
  font-family:  sans-serif;
  background-color:#020202;
  text-align:center;
  font-size:26px; 
}
#moonevent{
  width: 100%;
  height: 800px;
  word-break:break-all;
  font-family:  sans-serif;
  background-color:#020202;

  text-align:center;
  font-size:26px; 
 
}
#sunmoonevent{
  width: 100%;
  height: 800px;
  word-break:break-all;
  font-family:  sans-serif;
  background-color:white;
  text-align:center;
  font-size:26px; 
}

/*moon event img*/
#earth{
  position:absolute;
  bottom:1200px;
  right:23%;
}
#sun{
  position:absolute;
  bottom:1050px;
  left:-200px;
}
#Box2,#Box3,#Box4,#Box5,#Box6,#Box7,#Box8,#Box1{
    width:100px;
    height:100px;
    padding:10px;
    border:1px #ccc dashed;
    float:left;

    margin-right:10px;
}

#Box1{
  position: absolute;
  bottom:1450px;
  right:26%;
}
#Box2{
  position: absolute;
  bottom:1400px;
  right:13%;
}
#Box3{
  position: absolute;
  bottom:1250px;
  right:6%;
}
#Box4{
  position: absolute;
  bottom:1100px;
  right:13%;
}
#Box5{
  position: absolute;
  bottom:1050px;
  right:26%;
}
#Box6{
  position: absolute;
  bottom:1100px;
  right:39%;
}
#Box7{
  position: absolute;
  bottom:1250px;
  right:46%;
}
#Box8{
  position: absolute;
  bottom:1400px;
  right:39%;
}
#moonResult{
  position: absolute;
  bottom:1400px;
  right:60%;
}
#mResult{
  position: absolute;
  bottom:1340px;
  right:64%;
  color:white;
}



.navBar ul li {
    display: inline;
    float:left;
    margin-top: -20px;
}
.navBar ul li a{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    line-height: 70px;
    text-decoration: none;
    vertical-align: middle; 
    color: #787878;
}
.navBar ul li a:hover{
    color: #ffffff;
}
#historynav:hover div{
  display: block;
}
#subnav{
	padding-left: 0px;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
    float: left;
    position: absolute;
    left: 250px;    
    margin: 0;
}

#date{
	font-family:  sans-serif;
	color:white;
	top:10px;
	text-align:center;
	font-size:26px;
}
#newbar1{
	float:left;
  width:10%;
  font-family:  sans-serif;
  background-color:#020202;
  color:white;
  height:700px;
  text-align:center;
  font-size:26px; 
}
#newbar2{
float:right;
  width:10%;
  font-family:  sans-serif;
  background-color:#020202;
  color:white;
  height:700px;
  text-align:center;
  font-size:26px; 
}
#new{
  word-break:break-all;
  width:90%;
  font-family:  sans-serif;
  background-color:#020202;
  color:white;
  height:700px;

  text-align:center;
  font-size:26px; 
}

#newsec{
	line-height: 350px;
    vertical-align: middle;
}
#passage{
	font-size:14px; 
	color: #565656;
}
#historybar{
  float:left;
  width:8%;
  font-family:  sans-serif;
  background-color:#121212;
  color:white;
  height:1200px;
  
  text-align:center;
  font-size:26px;
}
#history{
  width:100%;
  font-family:  sans-serif;
  background-color:#121212;
  color:white;
  height:1200px;

  text-align:center;
  font-size:26px;
  
}
#historyline{
	float:left;
	
	width:5px;
	height:375px;
	background-color: white;
}
article{
}
footer{
  width:100%;
  right:0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color:#fffaf3;
  height:100px;
  font: 1em/1.5 serif;
  text-align:center;
  position: fixed;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.2);
}